@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: lightgray;

  #message-container {
    position: absolute;
    padding: 10px 0px 10px 10px;
    margin-top: 144px;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #979797;
  }
}
