@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../javascripts/components/dark_mode/dark_mode.scss";
@import "../javascripts/components/large_text/large_text.scss";

body {
  background-color: lightgrey;

  nav {
    img {
      width: 75px;
      height: 75px;
      border-radius: 10px;
    }

    .navbar-brand {
      font-family: 'Pacifico', cursive;
      font-size: 30px;
    }

    #users-dropdown {
      min-width: 100px;
    }    

    .custom-select{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  #message-container {
    position: absolute;
    padding: 15px 0px 0px 10px;
    margin-top: 92px;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #979797;
  }
}

